/* Default style definitions */

@page {
  margin: 0.25in;
}

*{
  font-family: dejavu sans;
}

hr {
  page-break-after: always;
  border: 0;
}

table{
  width: 100%;
}

/* General
-----------------------------------------------------------------------*/
body {
  background-color: transparent;
  font-size: 1em;
  padding-bottom: 2em;
  padding-top: 5px;
}

h1 {
  font-size: 1.4em;
  font-style: italic;
}

/* Footer
-----------------------------------------------------------------------*/
#footer {
  position: fixed;
  bottom: 5px;
  font-size: 8pt;
}

/* Content
-----------------------------------------------------------------------*/
#content {
  padding: 0.2em 1% 0.2em 1%;
  min-height: 15em;
}
/* List
-----------------------------------------------------------------------*/
.odd_row td {
  background-color: transparent;
  border-bottom: 1px solid black; /* 0.9 so table borders take precedence */
}

.even_row td {
  background-color: #f6f6f6;
  border-bottom: 1px solid black;
}

/* Page
-----------------------------------------------------------------------*/
.page {
  border: none;
  padding: 0in;
  margin-right: 0.1in;
  margin-left: 0.1in;
  /*margin: 0.33in 0.33in 0.4in 0.33in; */
  background-color: transparent;
  font-size: 7pt;
}

/* Change order specific
-----------------------------------------------------------------------*/
table.info{
  font-size: 10pt;
  border-top: 1px solid black;
}

table.change_order_items {
  font-size: 8pt;
  border-collapse: collapse;
  border-bottom: 1px solid black;";
margin-top: 2em;
  margin-bottom: 2em;
}

table.change_order_items>tbody {
  border: 1px solid black;
}

table.change_order_items>tbody>tr>th {
  border-bottom: 1px solid black;
}

table.change_order_items>tbody>tr>td {
  border-right: 1px solid black;
  padding: 0.5em;
}