<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet/less" type="text/css" href="css/main.less">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <link rel="stylesheet" type="text/css" href="css/loader.css">
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <title>Доставка</title>
</head>
<body>
	<div id="tab-bar"><!--
	--><p>Заказы</p><!--
	--></div>
	<div id="tab"><!--
		--><div id="sets">
			<div id="header"><div id="store">Склад:<select>
				<option value="1">Первый</option>
				<option value="1">Второй</option>
				<option value="1">Третий</option>
				</select></div><div id="store-date">Дата:<input type="date"></div></div>
			<div id="orderlist"></div>
			<div id="footer">
				<div class="add-floating-button"></div>
				<div id="left-footer"><p>Итого:</p></div><div id="right-footer">
					<p>12 заказов</p>
					<p>общей суммой $402.12</p>
				</div>
			</div>
		</div><!--
		--><div id="map"></div>
	</div>
	<div id="low-footer"><a target="_blank" href="https://github.com/Darevski/Delivery_system">GitHub</a></div>
	<script type="text/javascript" src="js/less.min.js"></script>
	<script type="text/javascript" src="js/delivery.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>