<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet/less" type="text/css" href="css/main.less">
    <link rel="stylesheet/less" type="text/css" href="css/routes.less">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <link rel="stylesheet" type="text/css" href="css/loader.css">
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <title>Доставка</title>
</head>
<body>
	<div id="tab-bar"><!--
	--><p>Точки</p><!--
	--><p style="border-bottom-color: #03a9f4;">Маршруты</p><!--
	--><p>Выход</p><!--
	--><p></p><!--
	--></div>
	<div id="tab"><!--
		--><div id="sets">
			<div id="header"><div id="store-date">Дата:<input type="date"></div></div>
			<div id="pathlist"></div>
			<div id="footer">
				<div id="routes-print" class="add-floating-button"></div>
			</div>
		</div><!--
		--><div id="map"></div>
	</div>
	<div id="low-footer"><a target="_blank" href="https://github.com/Darevski/Delivery_system">GitHub</a></div>
	<script type="text/javascript" src="js/less.min.js"></script>
	<script type="text/javascript" src="js/routes.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>