<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="STYLESHEET" href="css/report.css" type="text/css" />
</head>

<body>

<div id="footer">
    <table style="width: 100%; font-size: 8pt;">
        <tr>
            <td style="text-align: left">Authors: Darevski, Cherkas</td>
            <td style="text-align: right;"> <a href="http://github.com/Darevski/Delivery_system/">GitHub</a>Darevski/Delivery_system</td>
        </tr>
    </table>

</div>

<div id="content">
    <div class="page">
        {pages}
    </div>
</div>



</body>
</html>